.place__title{
    color: #FFFFFF; 
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    max-width: 460px;
    grid-row: 1;
    grid-column: 1;
    margin: 0;
}