.header{
    display: flex;
    margin: 28px auto 56px;
    width: calc(100% - 2 * 48px);
    align-items: flex-end;
    justify-content: space-between;
    box-sizing: border-box;
    gap:10px;
}

@media screen and (max-width: 1279px){
    .header{
        margin: 28px auto 48px;
    } 
 }

@media screen and (max-width: 1023px){
    .header{
        margin: 28px auto 48px;
        width: calc(100% - 2 * 24px);
    } 
 }

@media screen and (max-width: 767px){
    .header{
        margin: 16px auto 48px;
        width: calc(100% - 2 * 16px);
        align-items: center;
    } 
    
}