.cover__paragraph{
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    max-width: 360px;
    text-align: center;
    margin: 0;
}


@media screen and (max-width: 767px) {
    .cover__paragraph {
        max-width: 288px;
        font-size: 14px;
        line-height: 1.14;
    }
}