.cover__background{
    margin: 0 auto;
    padding: 0;
    text-decoration: none;
    min-height: 740px;
    width: 100%;
    background-image: linear-gradient(rgba(42, 44, 47,.3), rgba(42, 44, 47,.3)), url(../../../images/__background.jpg); 
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.cover__background:hover {
    background-image: linear-gradient(rgba(42, 44, 47,.8), rgba(42, 44, 47,.8)), url(../../../images/__background.jpg);
  }


  @media screen and (max-width: 1024px){
    .cover__background{
        min-height: 640px;
    } 
 }

